* {
    font-family: 'Mitr', sans-serif;
}
body{
    padding: 20px !important;
    margin: 30px 25px 10px 130px !important;
}
	span.card-icon {
    position: absolute;
    font-size: 3em;
    bottom: .2em;
    color: #ffffff80;
}
card-body{
    
}
