* {
    font-family: 'Mitr', sans-serif;
}

:root {
    --orange: #EF774B;
}

.image-hotel {
    height: 50vh;
    width: 100%;
}

/* container Search */
.container {
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: fit-content;
    top: 54vh;
    left: 10%;
    border-radius: 20px;
    z-index: 1;
    box-shadow: -1px 6px 5px #d2d2d2,
        0px -1px 4px;

}

.col-md-3 {
    padding: 10px 5px;
}

p {
    color: #EF774B;
}

.btnsearch {
    border-left: 1px solid rgb(221, 221, 221);
    background-color: #EF774B;
    color: #fff;
    border: none;
    border-radius: 0px 10px 10px 0px;
}

h3 {
    
    padding-top: 40px;
    margin-left: 155px;
}
/* card public relations */
h2{
    padding-top: 120px;
    margin-left: 750px;
}
.news{
   width: 50%;
   margin-top: 50px;
   text-align: center;
   font-size: 22px;
   margin-left: 25%;
}


/* card room */
.card {
   
    margin-top: 30px;
    margin-left: 155px;
    text-align: center;
    width: 1350px;
    border-radius: 30px;
    background: #e0e0e0;
    box-shadow: -8px 8px 16px #f9f9f9,
        8px -8px 16px #f9f9f9;
}
.room-detail{
    padding: 20px 50px !important;
}

.room {
    width: 500px;
    height: 250px;
}
.title{
    color: #000;

}
.card-t{
    color: #000;
    font-size: 20px;
}
.img-fluid {
    height: 100%;

}

.subroom {
    margin-top: 30px;
    width: 180px;
    height: 50px;
    margin-left: 650px;
    border-radius: 10px;
    border: 1px solid #EF774B;
    background: #EF774B;
    color: #fff;
}


/* mapvilla */
.Villa{
    margin-top: 50px;
    background-color: #cfcfcf;
    height: 600px;
}
.mapvilla{
    margin-top: 20px;
    margin-left: 155px;
}
.nearbyplaces{
    margin-top: -420px;
    margin-left: 800px;
}

/* About the hotel */
.card-img{
    margin-top: 0px;
    height: 450px;
}
.abouthotel{
    color: #000;
}
